
@model VideoFilterView
@{
    Layout = "../Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Quản lý video";

}

<div class="row" ng-app="indexVideoModule" ng-controller="IndexVideoModuleCtrl">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <div class="row">
                    <a href="/Video/ManagementTab" class="navbar-form navbar-left btn btn-default" style="margin-right:10px">Quản lý video theo tuần</a>
                    <a href="#" class="navbar-form navbar-left btn btn-success"><b>Quản lý video theo dạng tìm kiếm</b></a>
                    @using (Html.BeginForm("Management", "Video", FormMethod.Get, new { page = 1 }))
                    {
                        <div class="navbar-form navbar-right" role="search" id="formsearch">
                            <div class="form-group dropdown" id="rangeDropdown">
                                <input type="hidden" name="rangeType" id="filterByRange" value="@Model.Range" />
                                <input type="hidden" name="begin" id="filterByBegin" value="@(Model.Begin.HasValue?Model.Begin.Value.ToShortDateString():"")" />
                                <input type="hidden" name="end" id="filterByEnd" value="@(Model.End.HasValue?Model.End.Value.ToShortDateString():"")" />
                                <input type="hidden" name="eventId" id="filterByEventId" />
                                <button id="rangeLabel" class="form-control" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    <span class="text-value">Mọi lúc</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="rangeLabel">
                                    <li role="presentation" class="fixed-range active" data-range="All">Mọi lúc</li>
                                    <li role="presentation" class="fixed-range" data-range="Day">Trong ngày</li>
                                    <li role="presentation" class="fixed-range" data-range="Week">Trong tuần</li>
                                    <li role="presentation" class="fixed-range" data-range="Month">Trong tháng</li>
                                    <li role="presentation" class="fixed-range" data-range="ThreeMonth">Trong 3 tháng</li>
                                    <li role="presentation" class="fixed-range" data-range="SixMonth">Trong 6 tháng</li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="custom-range" data-range="Custom" data-toggle="modal" data-target="#rangeModal">Trong khoảng</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="sortbyevent" name="evtId">
                                    <option value="all">Tất cả</option>
                                    @foreach (var evt in ViewBag.SpecialEvents)
                                {
                                <option value="@evt.Id" @(evt.Id == Model.EventId ? "selected" : "")>@evt.Name</option>
                                }
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="sortbycat" name="cat">
                                    <option value="all">Tất cả chương trình</option>
                                    @foreach (VideoCatGroup grp in ViewBag.VideoCatGroups)
                                {
                                <optgroup label="@(grp.Name)">
                                    @foreach (var cat in grp.VideoCats.OrderBy(c => c.Order))
                                        {
                                        <option value="@cat.Id" @(cat.Id.ToString() == Model.Category ? "selected" : "")>@cat.Name</option>
                                        }
                                </optgroup>
                                }
                                </select>
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="sortbyreporter" name="rep" placeholder="Biên tập viên" type="text" value="@Model.Reporter">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="sortbytitle" name="title" placeholder="Tiêu đề" type="text" value="@Model.Title">
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="filterBtn">
                                    <span class="fa fa-search"></span> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </header>
            <div class="main-box-body clearfix">

                @* Paging Video header *@
                @Html.Partial("_PagingVideos")

                <div class="row">
                    <div class="table-responsive">
                        <table class="table user-list table-hover" id="manage_video">
                            <thead>
                                <tr>
                                    <th><span>Tên</span></th>
                                    <th><span>Thể loại</span></th>
                                    <th><span>Phát sóng</span></th>
                                    <th><span>Tải lên</span></th>
                                    <th><span>Lượt xem</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            @Html.Partial("_ListVideo", Model.Videos)
                        </table>
                    </div>
                    @*@foreach (Video vd in Model.Videos)
                    {

                        string color = vd.IsPublished == false ? "red" : "green";
                        <div class="col-lg-4 col-md-5 col-sm-6" id="video_@vd.Id">
                            <div class="main-box clearfix profile-box-menu">
                                <div class="main-box-body clearfix">
                                    <div class="profile-box-header @(color)-bg clearfix">
                                        @if (vd.VideoTranscripts == null || vd.VideoTranscripts.Count <= 0)
                                        {
                                            <div class="yellow" style="position: absolute; right: 15px; top:5px">
                                                <i class="fa fa-warning fa-fw fa-2x" title="Chưa có nội dung chi tiết"></i>
                                            </div>
                                        }
                                        <img src="@vd.Thumbnail" alt="" class="profile-img img-responsive">
                                        <p>@vd.Title</p>
                                        <div class="job-position">
                                            @vd.Category.Name
                                        </div>
                                        <ul class="contact-details" style="list-style-type: none;">
                                            <li>
                                                <i class="fa fa-user"></i> Người đăng: @(vd.UploadUser != null ? (vd.UploadUser.EmployeeId.HasValue ? @vd.UploadUser.Employee.Name : @vd.UploadUser.UserName) : "")
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar"></i> @vd.PublishedTime
                                            </li>
                                        </ul>
                                        <div class="icon-box pull-right">
                                            <a href="@vd.Url" class="btn pull-left" download title="Tải về">
                                                <i class="fa fa-download fa-inverse"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "Video", new { id = vd.Id, title = vd.UniqueTitle, date = vd.PublishedTime.ToString("dd-MM-yyyy") })" target="_blank" class="btn pull-left">
                                                <i class="fa fa-play fa-inverse"></i>
                                            </a>
                                            <a href="/Video/Edit/@vd.Id" class="btn pull-left" title="Chỉnh sửa">
                                                <i class="fa fa-edit fa-inverse"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "VideoTranscript", new { vId = vd.Id })" class="btn pull-left" title=" thay đổi nội dung chi tiết" style="color:#fff;">
                                                <i class="fa fa-list fa-inverse"></i> Thay đổi nội dung chi tiết
                                            </a>
                                            <a href="/Video/Delete/@vd.Id" class="btn pull-left" title="Xóa" data-toggle="modal" data-target="#deleteVideoModal"
                                               data-ajax="true"
                                               data-ajax-complete=""
                                               data-ajax-mode="replace"
                                               data-ajax-update="#deleteVideoContent">
                                                <i class="fa fa-trash-o fa-inverse"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@
                </div>

                @* Paging Video footer *@
                @Html.Partial("_PagingVideos")

            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="deleteVideoContent">

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="rangeModal" tabindex="-1" role="dialog" aria-labelledby="rangeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                <h4 class="modal-title" id="rangeModalLabel">Chọn thời gian</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="rangeBegin">Từ</label>
                    <input class="form-control" id="rangeBegin" />
                </div>
                <div class="form-group">
                    <label for="rangeEnd">Đến</label>
                    <input class="form-control" id="rangeEnd" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="listvideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="listvideoModalContent">

        </div>
    </div>
</div>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/tooltipster/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/tooltipster/themes/tooltipster-shadow.css">
}

@section Scripts{
    @*<script src="~/Scripts/angular.js"></script>*@
    @*<script src="~/Scripts/app/Video/vd-index-2.js"></script>*@
    <script src="~/Scripts/jquery.vitv.js"></script>
    <script type="text/javascript" src="~/Scripts/tooltipster/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Video/management.js"></script>
    <script>     
        $(document).ready(function () {

            $('#rangeBegin').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#rangeEnd').val() ? jQuery('#rangeEnd').val() : false
                    })
                },
                timepicker: false
            });
            $('#rangeEnd').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#rangeBegin').val() ? jQuery('#rangeBegin').val() : false
                    })
                },
                timepicker: false
            });
        });

        $("#rangeDropdown").rangeDropdown();

        $('#sidebar-nav #videoMng').toggleClass("active");
        $('#sidebar-nav #videoMng').siblings().removeClass("active");

        $('#sidebar-nav a#vd-li-2').toggleClass("active");
        $('#sidebar-nav a#vd-li-2').parent().siblings().removeClass("active");

        function OnDeleteSuccess(data) {
            if (data.success == true) {
                $("#deleteVideoModal").modal("hide");
                $("#video_" + data.id).remove();
            }
            else {
                alert(data.error);
            }
        }

        
    </script>

}



