@model Recruit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Bạn có chắc chắn muốn xóa tin tuyển dụng này?</h2>
            </header>
            <div class="main-box-body clearfix">
                @using (Html.BeginForm("Delete", "Recruit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10 form-field-display">@Model.Category.Name</div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.JobPosition, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10 form-field-display">@Model.JobPosition</div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            @Html.ActionLink("Quay về trang quản lý", "Management")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>