@model ProgramScheduleDetail

@{
    ViewBag.Title = "Sửa chương trình phát sóng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Sửa chương trình phát sóng</h2>
            </header>
            <div class="main-box-body clearfix">
                @using (Html.BeginForm("Edit", "ProgramScheduleDetails", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.Partial("_InsertOrEdit", Model)

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-success">Hoàn thành</button>
                            @Html.ActionLink("Quay về trang quản lý", "Management", new { date = Model.DateTime.ToShortDateString() }, null)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>