@model IEnumerable<VITV.Data.Models.Article>

@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
    ViewBag.Title = "Tin tức - Bài viết - StartUp VITV";
    IEnumerable<VITV.Data.Models.ArticleCategory> categories = ViewBag.artCategory;
    List<VITV.Data.Models.Article> highlights = ViewBag.Highlights;
}

<!--News Area-->
<div class="row text_pg_area">
    @if (highlights.Count > 0)
    {
        <div class="row recent_news">
            <div class="col-md-8 lg_news">
                <div class="">
                    <a href="@Url.Action("Details", "Article", new { id = highlights.ElementAt(0).Id, title = highlights.ElementAt(0).UniqueTitle, date = highlights.ElementAt(0).PublishedTime.Value.ToString("dd-MM-yyyy") })">
                        <div style="background:url('@(highlights.ElementAt(0).Thumbnail)') no-repeat;background-size:cover;background-position: 50% 50%">
                            <span>
                                @(highlights.ElementAt(0).Title)
                                <p class="tm">@(String.Join(", ", highlights.ElementAt(0).Reporters.Select(r => r.Name))) - @(highlights.ElementAt(0).PublishedTime.Value.ToString("dd/MM/yyyy"))</p>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sm_news">
                @for (int i = 1; i < highlights.Count(); i++)
                {
                    VITV.Data.Models.Article hl = highlights.ElementAt(i);
                    <div class="sm" data-order="@i">
                        <a href="@Url.Action("Details", "Article", new { id = hl.Id, title = hl.UniqueTitle, date = hl.PublishedTime.Value.ToString("dd-MM-yyyy") })">
                            <div style="background:url('@(hl.Thumbnail)') no-repeat;background-size:cover;background-position: 50% 50%;">
                                <span>
                                    @(hl.Title)
                                    <p class="tm">@(String.Join(", ", hl.Reporters.Select(r => r.Name))) - @(hl.PublishedTime.Value.ToString("dd/MM/yyyy"))</p>
                                </span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }

    <div class="row hr_line">
        <div class="col-xs-12 catdropdown">
            <div class="form-group dropdown">
                <button id="catLabel" class="form-control" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <span class="text-value">Tất cả</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="catLabel">
                    <li role="presentation" class="active" onclick='filter(0)'>Tất cả</li>

                    @foreach (var catlg in categories)
                    {
                        <li role="presentation" onclick="filter(@(catlg.Id))">@(catlg.Name)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row catlg">
            <div class="col-xs-6 col-md-4 all left current" data-id="0" onclick="filter(0)"><h5><span>Tất cả</span></h5></div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Lọc theo <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @foreach (var catsm in categories)
                    {
                        <li onclick="filter(@(catsm.Id))">@(catsm.Name)</li>
                    }
                </ul>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="related_article_content" id="pg_article">
            @if (highlights.Count > 0)
            {
                <div class="non_pc_hl_area">
                    @for (int j = 0; j < highlights.Count(); j++)
                {
                        <div class="row single_related">
                            <div class="single_article">
                                <div class="col col-xs-4">
                                    <div class="article_image">
                                        <a href="@Url.Action("Details", "Article", new { id = highlights[j].Id, title = highlights[j].UniqueTitle, date = highlights[j].PublishedTime.Value.ToString("dd-MM-yyyy") })">
                                            <div class="poster" style="background:url('@(highlights[j].Thumbnail)') no-repeat;background-size:cover;background-position: 50% 50%;"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-8">
                                    <div class="article_info">
                                        <h3><a href="@Url.Action("Details", "Article", new { id = highlights[j].Id, title = highlights[j].UniqueTitle, date = highlights[j].PublishedTime.Value.ToString("dd-MM-yyyy") })">@(highlights[j].Title)</a></h3>
                                        <p class="cn">@(highlights[j].ShortBrief)</p>
                                        <p class="tm">
                                            @(String.Join(", ", highlights[j].Reporters.Select(r => r.Name))) - @(highlights[j].PublishedTime.Value.ToString("dd/MM/yyyy"))
                                        </p>
                                        <p class="rp">
                                            @foreach (var rp in highlights[j].Reporters)
                                            {
                                                <img class="sm_reporter" src="@rp.ProfilePicture" />
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            @foreach (var art in Model.Take(10))
            {
                <div class="row single_related" data-groupid="@(string.Join<string>(",", art.Categories.Select(a => a.Id.ToString())))">
                    <div class="single_article">
                        <div class="col col-xs-4">
                            <div class="article_image">
                                <a href="@Url.Action("Details", "Article", new { id = art.Id, title = art.UniqueTitle, date = art.PublishedTime.Value.ToString("dd-MM-yyyy") })">
                                    <div class="poster" style="background:url('@(art.Thumbnail)') no-repeat;background-size:cover;background-position: 50% 50%;"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xs-8">
                            <div class="article_info">
                                <h3><a href="@Url.Action("Details", "Article", new { id = art.Id, title = art.UniqueTitle, date = art.PublishedTime.Value.ToString("dd-MM-yyyy") })">@(art.Title)</a></h3>
                                <p class="cn">@(art.ShortBrief)</p>
                                <p class="tm">@(String.Join(", ", art.Reporters.Select(r => r.Name))) - @(art.PublishedTime.Value.ToString("dd/MM/yyyy"))</p>
                                <p class="rp">
                                    @foreach (var rp in art.Reporters)
                                    {
                                        <img class="sm_reporter" src="@rp.ProfilePicture" />
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (Model.Count() > 10)
        {
            <div class="row news_viewmore">
                <p class="divine_line">
                    <a href="" class="btn btn-default vm">Xem thêm</a>
                    <input type="hidden" id="current_record" value="10" />
                </p>
            </div>
        }
    </div>
</div>

@section styles {

}

@section scripts {
    <script>
        $('.right_content').addClass('main_pg');

        curGroupId = 0;
        function filter(groupId) {
            if (groupId >= 0) {
                if (curGroupId != groupId) {
                    var targetDiv = $("div.text_pg_area");
                    $.get('/Article/GetArticleByGroup?id=' + groupId, function (data) {
                        targetDiv.hide();
                        targetDiv.empty();
                        targetDiv.append(data);
                        targetDiv.fadeIn(200);
                        curGroupId = groupId;
                    });
                }
            }
        }
        filter();

        $('body').on('click', '.sideCat a', function (e) {
            e.preventDefault();

            var id = $(this).parent().data('id');
            filter(id);
        });

        $('body').on('click', '.vm', function (e) {
            e.preventDefault();
            var targetDiv = $("div.related_article_content");
            var curNumRecord = $('#current_record').val();
            $.get('/Article/GetMoreArticles?groupId=' + curGroupId + '&numrecord=' + curNumRecord, function (data) {
                targetDiv.append(data);
                $('#current_record').val($('#tmp_cur_num_record').val());
                if ($('#tmp_has_more_article').val() == 0) {
                    $('.news_viewmore').remove();
                }
                $('#tmp_cur_num_record').remove();
                $('#tmp_has_more_article').remove();
            });
        });

        var timer = setInterval(SwitchHighlights, 6000);
        function SwitchHighlights() {
            var rnd = Math.floor(Math.random() * 3 + 1);
            var fromDiv = $('.sm[data-order="' + rnd + '"]').html();
            var toDiv = $('.lg_news').html();

            $('.lg_news').fadeTo('slow', 0.6, function() {
                $(this).html(fromDiv);
                $(this).fadeTo('slow', 1);
            });
            $('.sm[data-order="' + rnd + '"]').html(toDiv);
        }
    </script>
}

@section seo {
    <meta name="description" content="Startup.vitv.vn là trang thông tin công nghệ và khởi nghiệp trực thuộc Kênh truyền hình kinh tế Tài chính VITV. Trang tin được định hướng là nơi cung cấp thông tin cho các bạn trẻ sắp khởi nghiệp và lần đầu khởi nghiệp nhằm hỗ trợ cộng đồng khởi nghiệp trẻ của Việt Nam trong giai đoạn hội nhập mạnh mẽ hiện nay.">
    <meta name="keywords" content="tin tức,bài viết,cổng công nghệ,tin tuc,bai viet,startup,vitv">
    <meta property="og:title" content="Tin tức - Bài viết - StartUp VITV">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@(Request.Url.AbsoluteUri)">
    <meta property="og:image" content="fb_share_img.jpg" />
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="544" />
}